.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 11.02vh;
    position: relative;
    height: 300vh;
    gap: 40px;
    max-height: 170vh;
}

.section1 h4 {
    font-size: 16px;
    font-weight: normal;
}

.paraWrapper {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.section1 h1{
    font-weight: bold;
    font-size: 116px;
    top: 0;
    position: absolute;
}

#section2 {
    width: 100vw;
    background-color: black;
    height: 0;
    position: absolute;
    top: 175px;
    max-height: 140vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#section2 svg {
    margin-top: 176px;
    position: relative;
    z-index: 20;
    transition: visibility 0s, opacity 1.5s linear;
}

#header {
    position: relative;
    z-index: 20;
    font-size: 116px;
    margin: 0;
    font-weight: bold;
    color: #F4F4F4;
    opacity: 0;
    transition: visibility 0s, opacity 1s linear;
}

#header2 {
    position: relative;
    z-index: 20;
    font-size: 100px;
    font-weight: bold;
    margin: 0;
    color: #F4F4F4;
    opacity: 0;
    transition: visibility 0s, opacity 1.5s linear;
}

.carousel {
    width: 100vw;
    height: 288px;
    margin-top: 113px;
    z-index: 20;
    display: flex;
    justify-content: center;
}

.nextBtn {
    position: absolute;
    right: 3%;
    transform: translateY(-50px);
    z-index: 30;
}

.backBtn {
    position: absolute;
    left: 3%;
    transform: translateY(-50px);
    z-index: 30;
}

.image {
    transition: opacity 700ms ease-out; /* Define the transition property */
}

.carouselContent {
    display: flex;
}

.img {
    height: 288px;
    position: relative;
    display: flex;
    z-index: 10;
}

.carousel img {
    width: 100vw;
    height: 288px;
    object-fit: cover;
    filter: brightness(75%);
}

.title {
    color: #F4F4F4;
    position: absolute;
    font-size: 32px;
}

.section3 {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.postsHeader {
    width: 84vw;
    font-size: 98px;
    font-weight: bold;
    border-top: solid #C3C3C3 1px;
    border-bottom: solid #C3C3C3 1px;
    margin: 4px 0 4px;
    text-align: center;
    color: #F4F4F4;
    mix-blend-mode: difference;
    position: absolute;
    transform: translate(0px, -400px);
    z-index: 20;
    opacity: 0;
    transition: visibility 0s, opacity .5s linear;
}

.postsGrid {
    margin: 200px 0 68px;
    display: flex;
    flex-wrap: wrap;
    gap: 43px;
    justify-content: center;
    width: 90vw
}

.postContainer {
    margin: 0;
    height: 204px;
    display: flex;
}

.postImage {
    object-fit: cover;
    width: 359px;
    height: 204px;
    filter: brightness(80%);
}

.postTitle {
    color: #F4F4F4;
    position: absolute;
    font-size: 24px;
    width: 288px;
}

.optionsBtn {
    display: none;
    flex-direction: column;
    gap: 2px;
    position: relative;
    right: 16px;
    top: 8px;
}

.circle {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #F4F4F4;
}

@media (min-width: 700px) {
    #section2 {
        max-height: 170vh;
    }

    .carousel img {
        height: 719px;
        width: 75vw;
        max-width: 1080px;
    }

    .nextBtn {
        transform: translateY(150px);
    }

    .backBtn {
        transform: translateY(150px);
    }

    .postsHeader {
        transform: translateY(-140px);
    }

    .postsGrid {
        transform: translateY(250px);
    }
}
