body {
    background-color: #F4F4F4;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: oswald, sans-serif;
    box-sizing: border-box;
}

header img {
    height: 18.5vw;
    width: 18.5vw;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
}

.logo h2 {
    font-size: 8.37vw;
    font-family: oswald, sans-serif;
    margin: 0;
    font-weight: normal;
}

.logo {
    text-decoration: none;
}

.logo:visited {
    color: black;
}

header {
    margin: 35px 8.14vw 0 5.35vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.desktopHeader {
    display: none;
}

.burgerMenu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
}

.burgerMenu div {
    width: 10.93vw;
    height: 3px;
    background-color: #000000;
}

.burgerNav {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #000c18;
    height: 100vh;
    width: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 40;
    transition: width 2s ease-in;
}

.burgerNav ul {
    color: #F4F4F4;
    list-style: none;
    padding: 68px 8px;
    display: flex;
    gap: 40px;
    flex-direction: column;
    font-size: 40px;
}

.navLogo {
    color: #F4F4F4;
    margin-top: 40px;
}

.burgerMenuClose {
    color: #F4F4F4;
    font-size: 40px;
    position: fixed;
    right: 3%;
    top: 1%;
}

@media (min-width: 700px) {
    .burgerMenu{
        display: none;
    }

    .logo img {
        height: 114px;
        width: 114px;
    }

    .logo h2 {
        font-size: 48px;
    }
    
    .desktopHeader {
        display: flex;
        position: sticky;
        top: 0;
    }

    .desktopLinks {
        display: flex;
        flex-direction: row;
        gap: 2.22vw;
        list-style: none;
        padding: 0;
    }

    .desktopLinks li {
        font-size: 40px;
        transition: all .2s ease-in-out;
    }

    .desktopLinks li:nth-child(1):hover,
    .desktopLinks li:nth-child(2):hover {
        border-bottom: solid black 3px;
        cursor: pointer;
        transform: translateY(-2px);
    }

    .profilePic:hover {
        cursor: pointer;
        transform: scale(1.1);
        filter: brightness(90%);
    }

    .profilePic {
        height: 58px;
        width: 58px;
        border-radius: 50%;
        background-color: #C3C3C3;
        transition: all .2s ease-in-out;
    }

    #dropdown {
        height: 150px;
        width: 200px;
        background-color: black;
        position: absolute;
        right: 1vw;
        top: 75px;
        display: none;
    }

    .dropdownList {
        display: flex;
        color: #F4F4F4;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        padding: 16px;
        align-items: center;
    }

    .dropdownList li {
        font-size: 1rem;
    }
}
